<button type="button" class="btn btn-primary" ng-click="test()">Hello</button>

<button class="call" onclick="call();">
    Call
</button>

<button class="hangup" onclick="hangup();">
    Hangup
</button

<div class="row">
    <div class="col-xs-5 col-md-3">
        <input typeahead-on-select="test(selected)" type="text" ng-model="selected" typeahead="officer as officer.name for officer in loanOfficers  | limitTo:8">
        <div class="well" style="height:100%;">
            <div style="display:none;" id="{{officer.id}}" style="padding-bottom:10px;" ng-repeat="officer in loanOfficers" class="panel panel-primary ">
                <img style="height:32px;width:32px;" src="{{officer.image}}"/>
                {{officer.name}}  
                <button onclick="phoneCall(this)" data-number="{{officer.phone}}"   type="button" class="btn btn-default btn-xs">
                    <i class="fa fa-phone"></i>
                </button>
                <button onclick="phoneCall(this)" data-number="{{officer.browser}}" type="button" class="btn btn-default btn-xs">
                    <i class="fa fa-desktop"></i>
                </button>
            </div>
            
        </div>
    </div>
  <div class="col-xs-7 col-md-9 well">
    <div class="panel">
        <div class="panel-heading label-primary">
            <div style="width:100%;" class="label">Personal Information</div>
        </div>
        <div class="panel-body">
                <div class="col-xs-6 col-md-6 col-lg-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class=" control-label">First Name</label>
                            <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="First Name">
                        </div>
                    </form>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6">
                </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading label-primary">
            <div style="width:100%;" class="label">Loan Information</div>
        </div>
        <div class="panel-body">
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading label-primary">
            <div style="width:100%;" class="label">Employment And Fincncial Information</div>
        </div>
        <div class="panel-body">
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var capabilityToken = "";

    

    $.ajax({
        url: '/phone/capabilityToken', 
        async: false,
        success: function(data) {
            console.log("Capability Token: " + data);
            capabilityToken = data;
        }
    });
    
    var phoneCall=function(that){
      console.log($(that).attr("data-number"));
      
      $.ajax({
          type:"GET",
          url:"/test/phone/call",
          data: {number: $(that).attr("data-number")},
      });  
    };
    
    Twilio.Device.setup(capabilityToken, {debug: true, rtc: false});

    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });

    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });

    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
        
        // Conference other users
        $.ajax({
            url: '/test/phone/call', 
            success: function(data) {
                console.log(data);
            }
        });
    });

    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
    });

    /* Listen for incoming connections */
    Twilio.Device.incoming(function (conn) {
        $("#log").text("Incoming connection from " + conn.parameters.From);
        // accept the incoming connection and start two-way audio
        conn.accept();
    });

    function call() {
        Twilio.Device.connect();
    }

    function hangup() {
        Twilio.Device.disconnectAll();
    }
</script>

<div id="log">Loading pigeons...</div>
