


<div class="row">
    <div class="col-xs-12 col-md-12 label-primary" style="top:-10px;position:relative;">
        <div class="row">
            <div class="col-xs-6">
                <i style="color:white;position:relative;top:5px;" class="fa fa-gear"></i>
                <span class="ipp-lbl">LOAN APPROVAL #903</span>
            </div>
            <div class="btn-toolbar col-xs-6"  role="toolbar">
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-success">Approve</button>
                    <button type="button" class="btn btn-danger">Reject</button> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-5 col-md-3">
        <div class="well" style="height:100%;">
            <div class="panel">
                <div class="panel-heading label-primary" >
                    <div style="width:100%;" class="label">
                         <span style="padding-right:5px;">Participants</span><input typeahead-on-select="test(selected)" type="text" ng-model="selected" typeahead="officer as officer.name for officer in loanOfficers  | limitTo:8">
                    </div>
                </div>
                
                
                <div style="display:none" id="{{officer.id}}"  ng-repeat="officer in loanOfficers" class="panel">
                    <div style="color:white;" class="panel-heading label-default">
                        <div style="width:100%;" class="label">
                            <img class="img-rounded" style="height:48px;width:48px;" src="{{officer.image}}"/>
                            <span class="ipp-lbl">{{officer.name}}</span>
                        </div>
                    </div>
                    <div class="panel-bodyX">
                        
                        <button onclick="phoneCall(this)" data-number="{{officer.phone}}"   type="button" class="btn btn-default btn-xs">
                        <i class="fa fa-phone"></i>
                    </button>
                    <button onclick="phoneCall(this)" data-number="{{officer.browser}}" type="button" class="btn btn-default btn-xs">
                        <i class="fa fa-desktop"></i>
                    </button>
                    </div>
                </div>
                <div class="panel-footer label-primary">
                    <button class="btn btn-danger" onclick="hangup();">
                        <i style="font-size:1.5em;" class="fa fa-phone">
                        </i>
                        <span style="font-size:1.0em;"  class="label">Hang Up</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
  <div class="col-xs-7 col-md-9 well">
    <div class="panel">
        <div class="panel-heading label-primary">
            <div style="width:100%;" class="label">Personal Information</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="First Name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Address-1</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="Home Address 1">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Address-2</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="Home Address 2">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">State</label>
                <div class="col-sm-10">
                    <select class="form-control input-sm" ng-model="color" ng-options="state for state in states">
                      <option value="">{{state}}</option>
                    </select>
                </div>
              </div>
            </form>
        </div>
    </div>
    
    <div class="panel">
        <div class="panel-heading label-primary">
            <div style="width:100%;" class="label">Loan Information</div>
        </div>
        <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Loan Amount</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="Amount">
                </div>
                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Purpose</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="Loan Purpose">
                </div>
            </div>
        </form>
        </div>
    </div>
    
    <div class="panel">
        <div class="panel-heading label-primary">
            <div style="width:100%;" class="label">Employment And Fincncial Information</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label input-sm">Employer</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="Current Employer">
                    </div>
                    <label for="inputPassword3" class="col-sm-2 control-label input-sm">Hire Date</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="YYYY-MM-DD">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label input-sm">Income</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="Gross Annual Income">
                    </div>
                    <label for="inputPassword3" class="col-sm-2 control-label input-sm">Work Phone</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" id="inputPassword3" placeholder="Work Phone #">
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var capabilityToken = "";

    

    $.ajax({
        url: '/phone/capabilityToken', 
        async: false,
        success: function(data) {
            console.log("Capability Token: " + data);
            capabilityToken = data;
        }
    });
    
    var phoneCall=function(that){
      console.log($(that).attr("data-number"));
      
      $.ajax({
          type:"GET",
          url:"/test/phone/call",
          data: {number: $(that).attr("data-number")},
      });  
    };
    
    Twilio.Device.setup(capabilityToken, {debug: true, rtc: false});

    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });

    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });

    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
        
        // Conference other users
        $.ajax({
            url: '/test/phone/call', 
            success: function(data) {
                console.log(data);
            }
        });
    });

    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
    });

    /* Listen for incoming connections */
    Twilio.Device.incoming(function (conn) {
        $("#log").text("Incoming connection from " + conn.parameters.From);
        // accept the incoming connection and start two-way audio
        conn.accept();
    });

    function call() {
        Twilio.Device.connect();
    }

    function hangup() {
        Twilio.Device.disconnectAll();
    }
</script>

<div id="log">Loading pigeons...</div>
