<div class="well">
    
    <div class="container-fluid" style="width:100%;height:400px;">
        <div style="background-image:url('images/Gold-Coins.jpg');height:100%;" class="well">
            <div class="well" style="opacity:0.8;width:400px;">
                <h1 class="header">RICH.LY</h1>
                <h3>Securing Your Financial Future </h3>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-md-12 label-primary"><span style="color:white;">Personal Loans To Help You Achieve Your Goals</span></div>
    <div style="background-color:white;" class="row well">
      <div class="col-xs-4 col-md-4">
          <image class="img-responsive img-rounded" src="images/Car.jpg"></image>
          <h4>Personalized Loan Solutions</h4>
          We'll work with you to find a solution that fits your needs and your budget. Use a OneMain Financial personal loan for debt consolidation, unexpected expenses, home improvement, and more.
      </div>
      <div class="col-xs-4 col-md-4">
          <image class="img-responsive img-rounded" src="images/GraduateOne.jpg"></image>
          <h4>One-on-one Local Service</h4>
          With branches nationwide, we're just a local call or short drive away. And once you're there, you'll find friendly and knowledgeable loan specialists who are focused on your needs.
      </div>
      <div class="col-xs-4 col-md-4">
          <image class="img-responsive img-rounded" src="images/handshake2.jpg"></image>
          <h4>Straightforward Approach</h4>
          Count on us for a simple and secure application, fixed rates and clear terms, flexible payment options and money the same day if you are approved by noon.
      </div>
      
    </div>
</div>